# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
*.egg-info/
.eggs/

# 虚拟环境
.venv/
venv/
env/
ENV/

# 编辑器 / IDE
.idea/
.vscode/
*.swp
*.swo

# 系统文件
Thumbs.db
.DS_Store
